openapi: 3.1.0
info:
  title: OpenWeather One Call API 4.0
  version: 4.0.0
  description: |
    Retrieve current weather, minute-by-minute and longer-range timelines,
    historical weather, and detailed weather alerts for geographic coordinates.

    One Call API 4.0 requires a separate "One Call by Call" subscription.
  contact:
    name: OpenWeather Support
    url: https://openweathermap.org/faq
  license:
    name: OpenWeather terms
    url: https://openweather.co.uk/storage/app/media/Terms/Openweather_terms_and_conditions_of_sale.pdf
externalDocs:
  description: Official One Call API 4.0 documentation
  url: https://openweathermap.org/api/one-call-4
servers:
  - url: https://api.openweathermap.org/data/4.0/onecall
    description: Production
security:
  - appid: []
tags:
  - name: Weather
    description: Current conditions and weather timelines.
  - name: Alerts
    description: Detailed national weather alerts.

paths:
  /current:
    get:
      operationId: getCurrentWeather
      summary: Get current weather
      description: |
        Returns one current-weather record for the supplied coordinates.
        OpenWeather updates One Call API 4.0 data approximately every 10 minutes.
      tags:
        - Weather
      parameters:
        - $ref: "#/components/parameters/Latitude"
        - $ref: "#/components/parameters/Longitude"
        - $ref: "#/components/parameters/Units"
        - $ref: "#/components/parameters/Language"
      responses:
        "200":
          description: Current weather for the requested location.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentWeatherResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"

  /timeline/1min:
    get:
      operationId: getOneMinuteTimeline
      summary: Get the 1-minute timeline
      description: |
        Returns up to 60 minute-by-minute precipitation and alert records for
        the next hour.
      tags:
        - Weather
      parameters:
        - $ref: "#/components/parameters/Latitude"
        - $ref: "#/components/parameters/Longitude"
        - $ref: "#/components/parameters/Units"
        - $ref: "#/components/parameters/Language"
      responses:
        "200":
          description: Minute-by-minute weather timeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinuteTimelineResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"

  /timeline/15min:
    get:
      operationId: getFifteenMinuteTimeline
      summary: Get the 15-minute timeline
      description: |
        Returns up to 50 weather records at 15-minute intervals. Follow the
        `next` URL when the response contains additional records.
      tags:
        - Weather
      parameters:
        - $ref: "#/components/parameters/Latitude"
        - $ref: "#/components/parameters/Longitude"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/FifteenMinuteCount"
        - $ref: "#/components/parameters/Units"
        - $ref: "#/components/parameters/Language"
      responses:
        "200":
          description: Weather timeline in 15-minute intervals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FifteenMinuteTimelineResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"

  /timeline/1h:
    get:
      operationId: getHourlyTimeline
      summary: Get the hourly timeline
      description: |
        Returns up to 20 hourly records across 47 years of historical data and
        up to 48 hours of forecast data. Follow `next` and `prev` URLs to move
        through the timeline.
      tags:
        - Weather
      parameters:
        - $ref: "#/components/parameters/Latitude"
        - $ref: "#/components/parameters/Longitude"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/HourlyCount"
        - $ref: "#/components/parameters/Units"
        - $ref: "#/components/parameters/Language"
      responses:
        "200":
          description: Hourly historical and forecast weather timeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HourlyTimelineResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"

  /timeline/1day:
    get:
      operationId: getDailyTimeline
      summary: Get the daily timeline
      description: |
        Returns up to 10 daily records across 47 years of historical data and
        up to 1.5 years of forecast data. Follow `next` and `prev` URLs to move
        through the timeline.
      tags:
        - Weather
      parameters:
        - $ref: "#/components/parameters/Latitude"
        - $ref: "#/components/parameters/Longitude"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/DailyCount"
        - $ref: "#/components/parameters/Units"
        - $ref: "#/components/parameters/Language"
      responses:
        "200":
          description: Daily historical and forecast weather timeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DailyTimelineResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"

  /alert/{alert_id}:
    get:
      operationId: getWeatherAlert
      summary: Get a weather alert
      description: |
        Returns detailed information for an alert ID returned by a current or
        timeline weather response.
      tags:
        - Alerts
      parameters:
        - name: alert_id
          in: path
          required: true
          description: Alert ID returned by another One Call API 4.0 endpoint.
          schema:
            type: string
          example: 8B46C632-DCA7-44D7-8BDF-02445621BAFF
      responses:
        "200":
          description: Detailed weather alert.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherAlert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    appid:
      type: apiKey
      in: query
      name: appid
      description: |
        Your OpenWeather API key. Create or copy one from the
        [API keys page](https://home.openweathermap.org/api_keys).

  parameters:
    Latitude:
      name: lat
      in: query
      required: true
      description: Latitude in decimal degrees.
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
      example: 51.5
    Longitude:
      name: lon
      in: query
      required: true
      description: Longitude in decimal degrees.
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
      example: -0.1
    Units:
      name: units
      in: query
      required: false
      description: |
        Unit system. `standard` uses Kelvin and metres per second, `metric`
        uses Celsius and metres per second, and `imperial` uses Fahrenheit and
        miles per hour.
      schema:
        type: string
        enum:
          - standard
          - metric
          - imperial
        default: standard
      example: metric
    Language:
      name: lang
      in: query
      required: false
      description: Language code for translated weather descriptions.
      schema:
        type: string
      example: en
    StartTime:
      name: start
      in: query
      required: false
      description: |
        Unix timestamp in UTC used as the timeline starting point. The current
        UTC time is used when this parameter is omitted.
      schema:
        type: integer
        format: int64
      example: 1777449600
    FifteenMinuteCount:
      name: cnt
      in: query
      required: false
      description: Number of 15-minute records to return.
      schema:
        type: integer
        minimum: 1
        maximum: 50
      example: 20
    HourlyCount:
      name: cnt
      in: query
      required: false
      description: Number of hourly records to return.
      schema:
        type: integer
        minimum: 1
        maximum: 20
      example: 20
    DailyCount:
      name: cnt
      in: query
      required: false
      description: Number of daily records to return.
      schema:
        type: integer
        minimum: 1
        maximum: 10
      example: 10

  responses:
    BadRequest:
      description: A required parameter is missing or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: The API key is missing or does not grant access to One Call API 4.0.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Weather data or the requested alert was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: The API key's request quota has been exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServerError:
      description: OpenWeather encountered an unexpected error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    LocationResponse:
      type: object
      required:
        - lat
        - lon
        - timezone
        - timezone_offset
        - data
      properties:
        lat:
          type: number
          format: double
          description: Latitude of the requested location.
          example: 51.5
        lon:
          type: number
          format: double
          description: Longitude of the requested location.
          example: -0.1
        timezone:
          type: string
          description: Timezone name for the requested location.
          example: Europe/London
        timezone_offset:
          type: integer
          description: Offset from UTC in seconds.
          example: 3600
        data:
          type: array
          items: {}
        prev:
          type: string
          format: uri
          description: URL for the previous page of timeline records.
        next:
          type: string
          format: uri
          description: URL for the next page of timeline records.

    CurrentWeatherResponse:
      allOf:
        - $ref: "#/components/schemas/LocationResponse"
        - type: object
          properties:
            data:
              type: array
              maxItems: 1
              items:
                $ref: "#/components/schemas/CurrentWeather"

    MinuteTimelineResponse:
      allOf:
        - $ref: "#/components/schemas/LocationResponse"
        - type: object
          properties:
            data:
              type: array
              maxItems: 60
              items:
                $ref: "#/components/schemas/MinuteWeather"

    FifteenMinuteTimelineResponse:
      allOf:
        - $ref: "#/components/schemas/LocationResponse"
        - type: object
          properties:
            data:
              type: array
              maxItems: 50
              items:
                $ref: "#/components/schemas/TimelineWeather"

    HourlyTimelineResponse:
      allOf:
        - $ref: "#/components/schemas/LocationResponse"
        - type: object
          properties:
            data:
              type: array
              maxItems: 20
              items:
                $ref: "#/components/schemas/TimelineWeather"

    DailyTimelineResponse:
      allOf:
        - $ref: "#/components/schemas/LocationResponse"
        - type: object
          properties:
            data:
              type: array
              maxItems: 10
              items:
                $ref: "#/components/schemas/DailyWeather"

    CurrentWeather:
      type: object
      required:
        - dt
        - temp
        - feels_like
        - pressure
        - humidity
        - weather
      properties:
        dt:
          $ref: "#/components/schemas/UnixTime"
        sunrise:
          $ref: "#/components/schemas/UnixTime"
        sunset:
          $ref: "#/components/schemas/UnixTime"
        temp:
          type: number
          description: Temperature in the requested unit system.
        feels_like:
          type: number
          description: Human-perceived temperature in the requested unit system.
        pressure:
          type: integer
          description: Atmospheric pressure at sea level in hPa.
        humidity:
          type: integer
          minimum: 0
          maximum: 100
          description: Humidity percentage.
        dew_point:
          type: number
          description: Dew point in the requested unit system.
        uvi:
          type: number
          description: UV index.
        clouds:
          type: integer
          minimum: 0
          maximum: 100
          description: Cloudiness percentage.
        visibility:
          type: integer
          description: Average visibility in metres, up to 10,000.
        wind_speed:
          type: number
          description: Wind speed in the requested unit system.
        wind_gust:
          type: number
          description: Wind gust speed in the requested unit system.
        wind_deg:
          type: integer
          minimum: 0
          maximum: 360
          description: Wind direction in meteorological degrees.
        rain:
          $ref: "#/components/schemas/Precipitation"
        snow:
          $ref: "#/components/schemas/Precipitation"
        weather:
          type: array
          items:
            $ref: "#/components/schemas/WeatherCondition"
        alerts:
          $ref: "#/components/schemas/AlertIds"

    MinuteWeather:
      type: object
      required:
        - dt
        - precipitation
      properties:
        dt:
          $ref: "#/components/schemas/UnixTime"
        precipitation:
          type: number
          minimum: 0
          description: Precipitation in millimetres per hour.
        alerts:
          $ref: "#/components/schemas/AlertIds"

    TimelineWeather:
      allOf:
        - $ref: "#/components/schemas/CurrentWeather"
        - type: object
          properties:
            pop:
              type: number
              minimum: 0
              maximum: 1
              description: Probability of precipitation from 0 to 1.

    DailyWeather:
      type: object
      required:
        - dt
        - temp
        - feels_like
        - pressure
        - humidity
        - weather
      properties:
        dt:
          $ref: "#/components/schemas/UnixTime"
        sunrise:
          $ref: "#/components/schemas/UnixTime"
        sunset:
          $ref: "#/components/schemas/UnixTime"
        moonrise:
          $ref: "#/components/schemas/UnixTime"
        moonset:
          $ref: "#/components/schemas/UnixTime"
        moon_phase:
          type: number
          minimum: 0
          maximum: 1
          description: Moon phase, where 0 and 1 are new moon and 0.5 is full moon.
        temp:
          $ref: "#/components/schemas/DailyTemperature"
        feels_like:
          $ref: "#/components/schemas/DailyFeelsLike"
        pressure:
          type: integer
          description: Atmospheric pressure at sea level in hPa.
        humidity:
          type: integer
          minimum: 0
          maximum: 100
          description: Humidity percentage.
        dew_point:
          type: number
          description: Dew point in the requested unit system.
        uvi:
          type: number
          description: UV index.
        clouds:
          type: integer
          minimum: 0
          maximum: 100
          description: Cloudiness percentage.
        visibility:
          type: integer
          description: Average visibility in metres.
        wind_speed:
          type: number
          description: Wind speed in the requested unit system.
        wind_gust:
          type: number
          description: Wind gust speed in the requested unit system.
        wind_deg:
          type: integer
          minimum: 0
          maximum: 360
          description: Wind direction in meteorological degrees.
        pop:
          type: number
          minimum: 0
          maximum: 1
          description: Probability of precipitation from 0 to 1.
        rain:
          $ref: "#/components/schemas/Precipitation"
        snow:
          $ref: "#/components/schemas/Precipitation"
        weather:
          type: array
          items:
            $ref: "#/components/schemas/WeatherCondition"
        alerts:
          $ref: "#/components/schemas/AlertIds"

    DailyTemperature:
      type: object
      properties:
        day:
          type: number
        min:
          type: number
        max:
          type: number
        night:
          type: number
        eve:
          type: number
        morn:
          type: number
      description: Daily temperatures in the requested unit system.

    DailyFeelsLike:
      type: object
      properties:
        day:
          type: number
        night:
          type: number
        eve:
          type: number
        morn:
          type: number
      description: Human-perceived daily temperatures in the requested unit system.

    WeatherCondition:
      type: object
      required:
        - id
        - main
        - description
        - icon
      properties:
        id:
          type: integer
          description: OpenWeather condition ID.
        main:
          type: string
          description: Group of weather parameters.
          example: Clear
        description:
          type: string
          description: Localized weather condition description.
          example: sky is clear
        icon:
          type: string
          description: Weather icon ID.
          example: 01d

    Precipitation:
      type: object
      properties:
        "1h":
          type: number
          minimum: 0
          description: Precipitation volume in millimetres during the last hour.

    AlertIds:
      type: array
      description: IDs that can be passed to the weather alert endpoint.
      items:
        type: string

    WeatherAlert:
      type: object
      required:
        - id
        - sender_name
        - event
        - start
        - end
        - description
        - tags
      properties:
        id:
          type: string
          description: Alert ID.
        sender_name:
          type: string
          description: Name of the alert source.
          example: METEO-FRANCE
        event:
          type: string
          description: Alert event name.
        start:
          $ref: "#/components/schemas/UnixTime"
        end:
          $ref: "#/components/schemas/UnixTime"
        description:
          type: array
          items:
            $ref: "#/components/schemas/LocalizedDescription"
        tags:
          type: array
          description: Severe-weather categories.
          items:
            type: string
          example:
            - Thunderstorm

    LocalizedDescription:
      type: object
      required:
        - language
        - description
      properties:
        language:
          type: string
          description: Language and optional region code.
          example: en-GB
        description:
          type: string
          description: Alert description in the specified language.

    UnixTime:
      type: integer
      format: int64
      description: Unix timestamp in UTC.

    ErrorResponse:
      type: object
      required:
        - cod
        - message
      properties:
        cod:
          oneOf:
            - type: integer
            - type: string
          description: Error status code.
          example: 400
        message:
          type: string
          description: Human-readable error description.
          example: Invalid date format
        parameters:
          type: array
          description: Names of parameters related to the error.
          items:
            type: string
